// pass
.pass_baro {
  background-image: url('/src/assets/images/study-complete/baro_good_job.svg');
}
.pass_chello {
  background-image: url('/src/assets/images/study-complete/chello_good_job.svg');
}
.pass_millo {
  background-image: url('/src/assets/images/study-complete/millo_good_job.svg');
}
.pass_jack {
  background-image: url('/src/assets/images/study-complete/jack_good_job.svg');
}
.pass_blanc {
  background-image: url('/src/assets/images/study-complete/blanc_good_job.svg');
}
.pass_sheila {
  background-image: url('/src/assets/images/study-complete/sheila_good_job.svg');
}
.pass_tori {
  background-image: url('/src/assets/images/study-complete/tori_good_job.svg');
}
.pass_roro {
  background-image: url('/src/assets/images/study-complete/roro_good_job.svg');
}
.pass_greenthumb {
  background-image: url('/src/assets/images/study-complete/green_thumb_good_job.svg');
}
.pass_leoni {
  background-image: url('/src/assets/images/study-complete/leoni_good_job.svg');
}
.pass_goma {
  background-image: url('/src/assets/images/study-complete/goma_good_job.svg');
}
.pass_gino {
  background-image: url('/src/assets/images/study-complete/gino_good_job.svg');
}
.pass_edmond {
  background-image: url('/src/assets/images/study-complete/edmond_good_job.svg');
}
.pass_dodo {
  background-image: url('/src/assets/images/study-complete/dodo_good_job.svg');
}

// fail
.fail_baro {
  background-image: url('/src/assets/images/study-complete/baro_try_again.svg');
}
.fail_chello {
  background-image: url('/src/assets/images/study-complete/chello_try_again.svg');
}
.fail_millo {
  background-image: url('/src/assets/images/study-complete/millo_try_again.svg');
}
.fail_jack {
  background-image: url('/src/assets/images/study-complete/jack_try_again.svg');
}
.fail_blanc {
  background-image: url('/src/assets/images/study-complete/blanc_try_again.svg');
}
.fail_sheila {
  background-image: url('/src/assets/images/study-complete/sheila_try_again.svg');
}
.fail_tori {
  background-image: url('/src/assets/images/study-complete/tori_try_again.svg');
}
.fail_roro {
  background-image: url('/src/assets/images/study-complete/roro_try_again.svg');
}
.fail_greenthumb {
  background-image: url('/src/assets/images/study-complete/green_thumb_try_again.svg');
}
.fail_leoni {
  background-image: url('/src/assets/images/study-complete/leoni_try_again.svg');
}
.fail_goma {
  background-image: url('/src/assets/images/study-complete/goma_try_again.svg');
}
.fail_gino {
  background-image: url('/src/assets/images/study-complete/gino_try_again.svg');
}
.fail_edmond {
  background-image: url('/src/assets/images/study-complete/edmond_try_again.svg');
}
.fail_dodo {
  background-image: url('/src/assets/images/study-complete/dodo_try_again.svg');
}
