.comment {
  font-family: 'Rg-B', sans-serif;
  font-size: 1.1em;
  color: rgba($color: #000, $alpha: 0.4);
  padding: 10px 15px;
  animation-duration: 1s !important;
  position: fixed;
  @media (prefers-color-scheme: dark) {
    color: rgba($color: #fff, $alpha: 0.4);
  }
}
@media (pointer: coarse) {
  .comment {
    display: none;
  }
}

.wordPlayButton {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  transform: scale(1);
  transition: all 0.2s;
  -webkit-tap-highlight-color: transparent;
  &:active {
    transform: scale(0.9);
  }
  .txtL {
    font-family: 'Rg-B', sans-serif;
    font-size: 2.2em;
  }
  .txtP {
    font-family: 'Rg-B', sans-serif;
    font-size: 1.5em;
  }
}

.wordPlayButton2 {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transform: scale(1);
  transition: all 0.2s;
  -webkit-tap-highlight-color: transparent;
  &:active {
    transform: scale(0.9);
  }
  .txtL {
    font-family: 'Rg-B', sans-serif;
    font-size: 1.4em;
    padding-top: 3px;
  }
}

.btnNext {
  cursor: pointer;
  text-align: center;
  border-radius: 12px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 3px solid #000;
  border-left: 1px solid #000;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 1.2em;
  font-family: 'Rg-B', sans-serif;
  width: calc(100% - 40px);
  padding: 15px 20px;
  margin: auto;
  transform: scale(1);
  transition: all 0.2s;
  &:active {
    transform: scale(0.9);
  }
}

.reTryButton {
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 3px solid #ccc;
  border-left: 1px solid #ccc;
  background: linear-gradient(180deg, #f2f2f2 0%, #dedede 85.42%, #f2f2f2 100%);
  color: #999;
  font-size: 1.2em;
  font-family: 'Rg-B', sans-serif;
  width: calc(100% - 40px);
  padding: 12px 20px;
  margin: auto;
  transform: scale(1);
  transition: all 0.2s;
  &:active {
    transform: scale(0.9);
  }
}

@mixin goNextStepBox {
  .goNextStepBox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    position: relative;
    z-index: 4;
    &::before {
      content: '';
      position: fixed;
      background-color: rgba($color: #000, $alpha: 0.4);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

@mixin iconChevLeftRightSize {
  $size: 28px;
  width: $size;
  height: $size;
  background-image: url('/src/assets/images/icons/icon_chev_left.svg');
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center;
}
.iconChevLeft {
  @include iconChevLeftRightSize;
  background-image: url('/src/assets/images/icons/icon_chev_left.svg');
  @media (prefers-color-scheme: dark) {
    background-image: url('/src/assets/images/icons/icon_chev_left_white.svg');
  }
}
.iconChevRight {
  @include iconChevLeftRightSize;
  background-image: url('/src/assets/images/icons/icon_chev_right.svg');
  @media (prefers-color-scheme: dark) {
    background-image: url('/src/assets/images/icons/icon_chev_right_white.svg');
  }
}

.vocabularyPractice1 {
  height: 100%;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 10px;
  }
  .wordCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    padding-bottom: 30px;
    width: calc(100% - 30px);
    height: 45vh;
    border-radius: 20px;
    @media (prefers-color-scheme: dark) {
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
    .wordImage {
      display: flex;
      max-width: 350px;
      overflow: hidden;
      border-radius: 15px;
    }
    .wordText {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 15px;
    }
  }
  .indicator {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-size: 1em;
    font-family: 'Rg-B', sans-serif;
    color: #000;
    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
    span {
      -webkit-tap-highlight-color: transparent;
      &:nth-child(1) {
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: #555;
        background-color: rgba($color: #000000, $alpha: 0.1);
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.1s;
        @media (prefers-color-scheme: dark) {
          background-color: rgba($color: #000000, $alpha: 0.8);
        }
        &:active {
          transform: scale(0.7);
        }
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: #555;
        margin-left: auto;
        background-color: rgba($color: #000000, $alpha: 0.1);
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.1s;
        @media (prefers-color-scheme: dark) {
          background-color: rgba($color: #000000, $alpha: 0.8);
        }
        &:active {
          transform: scale(0.7);
        }
      }
    }
  }
  @include goNextStepBox;
}

.vocabularyPractice2 {
  height: 100%;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 10px;
  }
  .wordCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    padding-bottom: 30px;
    gap: 15px;
    width: calc(100% - 30px);
    height: 50vh;
    border-radius: 20px;
    font-size: 0.9em;
    line-height: 1.2;
    letter-spacing: -0.8px;
    @media (prefers-color-scheme: dark) {
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
    .wordImage {
      display: flex;
      width: calc(100% - 40px);
      overflow: hidden;
      border-radius: 15px;
    }
    .wordText {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 5px;
    }
  }
  .indicator {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-size: 1em;
    font-family: 'Rg-B', sans-serif;
    color: #000;
    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
    span {
      -webkit-tap-highlight-color: transparent;
      &:nth-child(1) {
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: #555;
        background-color: rgba($color: #000000, $alpha: 0.05);
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.1s;
        &:active {
          transform: scale(0.7);
        }
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: #555;
        margin-left: auto;
        background-color: rgba($color: #000000, $alpha: 0.05);
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.1s;
        &:active {
          transform: scale(0.7);
        }
      }
    }
  }
  @include goNextStepBox;
}

.vocabularyPractice3 {
  display: flex;
  align-items: start;
  justify-content: center;
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .wordCard {
    width: 100%;
    .wordTyping {
      display: grid;
      grid-template-columns: 44px 1fr 44px;
      align-items: center;
      justify-items: start;
      .textField {
        width: 100%;
        height: 60px;
        position: relative;
        $inputWidth: calc(100% - 40px);
        $inputHeight: calc(100% - 24px);
        $inputFontSize: 1.6em;
        .inputField {
          display: flex;
          align-items: center;
          justify-content: start;
          width: $inputWidth;
          height: $inputHeight;
          font-size: $inputFontSize;
          background-color: transparent;
          border: 2px solid transparent;
          font-family: 'Rg-B', sans-serif;
          margin: 0 !important;
          padding: 10px 20px 10px 15px !important;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          letter-spacing: -0.8px;
        }
        .wordText {
          display: flex;
          align-items: center;
          justify-content: start;
          width: $inputWidth;
          height: $inputHeight;
          font-size: $inputFontSize;
          font-family: 'Rg-B', sans-serif;
          font-size: 1.6em;
          color: #ccc;
          background-color: #fff;
          border-radius: 15px;
          border: 2px solid #ccc;
          padding: 10px 20px;
          padding-left: 15px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          @media (prefers-color-scheme: dark) {
            border: 2px solid rgba($color: #000000, $alpha: 0.3);
          }
        }
        .count {
          position: absolute;
          top: calc(50% - 10px);
          right: 20px;
          z-index: 3;
          font-family: 'Rg-R', sans-serif;
          font-size: 0.9em;
          @media (min-width: 376px) {
            top: calc(50% - 9px);
          }
        }
      }
      .enterButton {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        cursor: pointer;
        transform: scale(1);
        transition: all 0.2s;
        -webkit-tap-highlight-color: transparent;
        &:active {
          transform: scale(0.9);
        }
        .enterIcon {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000;
          padding: 5px;
          border-radius: 100px;
        }
      }
    }
    .meaning {
      padding-left: 10px;
      line-height: 1.2;
      .txtL {
        width: 100%;
        font-size: 1.4em;
        font-weight: 600;
      }
      .txtP {
        width: 100%;
        font-size: 1em;
        color: #888;
      }
    }
  }
  @include goNextStepBox;
}

.vocabularyPractice4 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .wordCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    background-color: #fff;
    padding: 15px;
    padding-bottom: 30px;
    min-width: calc(100% - 30px);
    min-height: 280px;
    border-radius: 20px;
    @media (prefers-color-scheme: dark) {
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
    .wordText {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 15px;
    }
    .meaning {
      max-width: 480px;
      font-size: 1.5em;
      font-weight: 600;
    }
    .sentence {
      max-width: 480px;
      font-size: 1.2em;
      color: #888;
    }
  }
  .indicator {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    font-size: 1em;
    font-family: 'Rg-B', sans-serif;
    color: #000;
    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
    span {
      -webkit-tap-highlight-color: transparent;
      &:nth-child(1) {
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: #555;
        background-color: rgba($color: #000000, $alpha: 0.05);
        border-radius: 50%;
        transform: scale(1);
        transition: all 0.1s;
        &:active {
          transform: scale(0.7);
        }
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        cursor: pointer;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: #555;
        margin-left: auto;
        transform: scale(1);
        transition: all 0.1s;
        background-color: rgba($color: #000000, $alpha: 0.05);
        border-radius: 50%;
        &:active {
          transform: scale(0.7);
        }
      }
    }
  }
  @include goNextStepBox;
}
